services:
  auth:
    build: ./medichain/auth-service
    container_name: medichain-auth
    env_file: ./medichain/auth-service/.env
    ports:
      - "4000:4000"
    depends_on:
      - mongo
      - redis
      - rabbitmq

  mongo:
    image: mongo:6
    container_name: medichain-auth-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    container_name: medichain-redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: medichain-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  mongo-data:
